html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-display: auto;
  }
  section, header {
    overflow-x: hidden;
}
.soon-section {
  min-height: 75vh;
}
.header {
    margin-top: 8rem;
}
  p{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
  }
  #countdown-timer {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.2rem;
    min-height: 2.2rem;
  }
  a {
    color: #6dabe4;
  }
  a:hover {
    color: #001689;
  }
  .btn-info {
    background-color: #6dabe4;
  }
  .btn-info:hover {
    background-color: #001689;
  }

@media(max-width: 700px) {
    .h2, .h3, .h1{
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

.bg-family {
    background: url("img/pier_fam.jpg") no-repeat;
    background-size: cover;
}

.bg-img {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}
.bg-img h2, .bg-img h1 {
    position: relative;
    margin-top: 10.5rem;
    z-index: 2;
}

.image-still {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
}

.bg-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    z-index: 0;
}

.bg-img a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bg-img a:hover{
    background-color: hsla(0, 100%, 100%, .5);
  }

@media(min-width: 900px) {
    .bg-img img {
        width: 100%;
        height: auto;
    }
}

.text-blue {
   color: #6dabe4;
}

.text-navy {
    color: #001689 !important;
}

.text-black {
  color: #000000 !important;
}

.text-blue {
  color: #6dabe4;
}

.text-red {
    color: #c33a32;
}

.text-light {
    color: #f8f9fa!important;
}

.bg-blue {
    background-color: #6dabe4;
}

.bg-navy {
    background-color: #001689;
}

.bg-red {
    background-color: #c33a32;
}

@media(min-width: 960px) {
    .carousel-inner .carousel-section {
        height: 40rem !important;
    }
}

.carousel-img {
    height: 35rem;
    object-fit: cover;

}

.caption-bottom-right {
  margin-bottom: 8rem;
}

.caption-bottom {
  margin-bottom: 1rem;
}

.caption-top-left {
  margin-bottom: 24rem;
}

@media(min-width: 600px){
  .caption-bottom-right {
    left: 10%;
    margin-right: -5%;
    margin-bottom: 1rem;
  }
  
  .caption-bottom {
    margin-bottom: 1rem;
  }
  
  .caption-top-left {
    right: 10%;
    margin-left: -5%;
    margin-bottom: 12rem;
  }
}

@media(min-width: 960px){
  .caption-bottom-right {
    left: 52%;
    margin-right: -12%;
    margin-bottom: 1rem;
  }
  
  .caption-bottom {
    margin-bottom: 1rem;
  }
  
  .caption-top-left {
    right: 40%;
    margin-left: -10%;
    margin-bottom: 16rem;
  }
}
.center {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}



.card img{
  object-fit: cover;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-clearblue {
    background-color: hsla(230, 100%, 27%, .4);
}

a.portfolio-box:hover {
  background-color: 	hsla(240, 100%, 17%, .4);
  text-decoration: none;
  color: #fff;
}
.portfolio-box {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
}
.portfolio-box img {
  object-fit: cover;
  height: 420px;
  width: 100%;
}

.text-bottom {
    margin-top: auto;
    margin-bottom: 0px !important;
    vertical-align: text-bottom;
    text-align: bottom;
}

.img-medium {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    display: inline-block;
    color: white;
    background-color: #6dabe4;
    opacity: .8;
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #001689;
  }
  
  .social-buttons li {
    pointer-events: auto !important;
  }
  
  .social-row {
    position: fixed; 
    z-index: 2; 
    top: 90vh;
    pointer-events: none;
    width: 100%;
    left: 50%;
    margin-left: -50%;
  }
  
  @media (min-width: 500px) {
    ul.social-buttons li a {
      font-size: 1.5rem;
      line-height: 3rem;
      width: 3rem;
      height: 3rem;
    }
  
  }
  
  @media (min-width: 800px) {
    .social-row {
      right: 0px;
      margin-bottom: 2rem;
      top: 60vh;
      padding: 0px;
      display: block;
      width: 0%;
      left: 0%;
      margin-left: auto;
      margin-right: 10%;
      }
    ul.social-buttons li a {
        margin-bottom: 6px;
    }
    header.masthead {
        height: 56vh;
    }
  }