body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  text-align: center;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

svg {
  max-width: 100%;
}
